{
  "Parameters": {
    "URL": "http://localhost:3000",

    "STRIPE_PUBLISHABLE_KEY": "pk_12345",
    "STRIPE_SECRET_KEY": "sk_12345",

    "STRIPE_WEBHOOK_SECRET": "whsec_1234",

    "SENDGRID_API_KEY": "SG.1234",
    "FROM_EMAIL_ADDRESS": "myshop@example.com",
    "FULFILLMENT_EMAIL_ADDRESS": "warehouse@example.com"
  }
}
